body { 
  font-family: Arial; 
  background-color: #222546;
  color: rgb(199, 198, 198);
}

.container {
  display: flex;
  /*
  border-style: solid;
  border-color: red;
  border-width: 2px;
  */
  min-width: 50%;
  margin-bottom:150px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 10%;
}

.bold-style {
  font-weight: bold;
}

.card {
  min-width: 13%;
  border-style: solid;
  border-color: #735AB6;
  border-width: 4px;
  border-left: 0px;
  border-bottom: 0px;
  text-align: right;
  align-items: stretch;
  padding: 15px;
  margin: 10px;
  color: #F7F8FA;
  text-shadow: 3px 3px 2px #008C8F;
  box-shadow: 5px -5px 5px #2D578B;
}

a:link {
  color: rgb(199, 198, 198);
  text-decoration: none; 
}

a:visited {
  color: rgb(199, 198, 198);
  text-decoration: none; 
}

a:hover {
  color: #008C8F;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
}

footer a:visited {
  color: rgb(199, 198, 198);
  text-decoration: none; 
}
footer img:hover {
  height: 45px;
  margin-top: -15px;
}

nav img:hover {
  border-color: #008C8F;
  border-style: solid;
  border-width: 1px;
  background-color: #008C8F;
  box-shadow: 0 0 7px 5px #008C8F;
}

.containerWork2 .projectCard:hover {
  box-shadow: 0 0 7px 10px #376AA9;
}

.containerWork .mainProjectCard:hover {
  box-shadow: 0 0 7px 10px #376AA9;
}

/* header + nav bar  ----------------------------------------------- */

.containerHead {
  display: flex;
  margin-bottom:75px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;

}

.heading h1 {
  display: flex;
  order: 0;
  width: 500px;
  color: #F7F8FA;
  font-size: 50px;
  text-shadow: 3px 3px 2px #008C8F;
}

.subtitle {
  display: flex;
  order: 2;
  margin-top: -35px;
  color: #008C8F;
  font-size: 25px;
  text-shadow: 2px 2px 2px #32619A;
}

.containerHead nav {
  display: flex;
  order: 3;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin-bottom: 5px;
  color: rgb(199, 198, 198);
}

nav li {
  display: inline;
  padding: 30px;
  text-align: right;
  font-size: 20px;
}


/* about me section with avatar pic  --------------------------------------  */

.avatar {
  vertical-align: middle;
  max-width: 130px;
  min-width: 130px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #32619A;
}

.container .avatar {
  display: flex;
  margin-top:15px;
  width: 30%;
  margin-left: 45px;
}

.about p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 40px;
  max-width: 800px;
  font-size: 20px;
  line-height: 30px;
}

.container div {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* work section ----------------------------------------------- */

.containerMain {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  max-width: 1200px;
  min-width: 415px;
}

.containerWork{
  display: flex;
  width: fit-content;
  margin-bottom: 10px;
  margin-right: 10px;
}

.mainProjectCard {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: #008C8F;
  position:relative;
  text-align: right;
  color: #224168;
}

.projectCard {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: #008C8F;
  position:relative;
  text-align: right;
  color: #224168;
  margin-bottom: 10px;
  margin-right: auto;
}

.mainProjectCard #mainProjectImg {
  height: 400px;
  width: 822px;
  max-width: 100%;
}

.containerWork2{
  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  width: 850px;
}

.textOverlay {  
  position: absolute;
  bottom: -17px;
  right: 0px;
  font-weight: bold;
  background-color: #008C8F;
  line-height: 30px;
  width:100%;
  color: #F7F8FA;
}

.projectCard img {
  width: 400px;
  height: 200px;
  max-width: 100%;
}


/* contact me section ----------------------------------------------- */

div.container {
  display: flex;
}

.contact-me {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.contact-me nav {
  display: flex;
}

.contact-me li {
  display: inline;
  padding: auto;
  text-align: right;
  font-size: 20px;
}

li img {
  height: 20px;
}

/* footer section ----------------------------------------------- */

footer {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 20px;
}

footer img {
  height:30px;
}

/* responsive media section ----------------------------------------------- 
1000px to 1300px = good orientation, don't mess with
>1300px need to space out
<1200px need to move top nav link down
<1000px need to move bottom nav
<820px, move to tablet spacing -- can skip, focus on desktop and mobile
<415px move to mobile spacing
*/

/* large screen sizing -----------------------------------------------------*/

@media screen and (min-width: 1300px) {
  .container .avatar {
    margin-left: 150px;
  }

  .about p {
    margin-left: 100px;
    max-width: 900px;
  }

  .containerMain {
    margin-left: 150px;
  }

  .contact-me {
    margin-left: 150px;
  }
}

/* mobile sizing -----------------------------------------------------*/

@media screen and (max-width: 600px) {
  div.container {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    margin-bottom:50px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .card {
    border-style: solid;
    border-color: #735AB6;
    border-width: 4px;
    border-right: 0px;
    border-top: 0px;
    text-align: left;
    align-items: stretch;
    padding: 15px;
    margin: 10px;
    color: #F7F8FA;
    text-shadow: 3px 3px 2px #008C8F;
    box-shadow: -5px 5px 5px #2D578B;
    min-width: none;
  }
  .containerMain {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px;
    width: 80%;
  }
  
  .containerWork{
    display: flex;
    width: fit-content;
    margin-bottom: 10px;
  }

  .containerWork2{
    display: flex;
    vertical-align: middle;
    align-content: center;
    width: 80%;
  }

  .mainProjectCard {
    margin-bottom: 20px;
    margin-top: 20px;
    width:100%;
  }


  .mainProjectCard #mainProjectImg {
    width: 325px;
  }

  .projectCard {
    margin-bottom: 20px;
  }

  .projectCard img {
    width: stretch;
  }

  .contact-me li {
    display: block;
    font-size: 20px;
    line-height: 25px;
    padding: 5px;
  }

  .contact-me {
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
    margin-bottom: 20px;
  }

  .containerHead nav {
    display: flex;
    order: 3;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  nav li a {
    display: block;
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
  }
  .containerHead {
    margin-bottom:0px;
  }

  div.container .contact-me a:hover{
    margin: 0px;
  }

  a:hover {
    color: rgb(199, 198, 198);
    font-weight: normal;
  }
  nav img:hover {
    box-shadow: none;
    background-color: #222546;
    border-color: #222546;
  }
  .contact-me img:hover {
    box-shadow: none;
    background-color: #222546;
    border-color: #222546;
  }
}

/* tablet-ish sizing -----------------------------------------------------*/

@media screen and (max-width: 1200px) {
  .containerHead {
    display: flex;
    flex-direction: column;
    margin-bottom:75px;
    justify-content: flex-start;
  }

  .containerHead nav {
    display: flex;
    order: 3;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

  }

  nav li {
    display: inline;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
  }

  nav ul {
    padding: 0px;
  }

  .contact-me li {
    display: flex;
    flex-shrink: inherit;
    font-size: 20px;
    line-height: 25px;
    padding: 5px;
  }

  div.mainProjectCard {
    margin-right:10px;
  }

  div.container .contact-me a:hover{
    margin: 0px;
  }
}