body { 
  font-family: Arial; 
  background-color: #222546;
  color: rgb(199, 198, 198);
}

.container {
  display: flex;
  /*
  border-style: solid;
  border-color: red;
  border-width: 2px;
  */
  min-width: 50%;
  margin-bottom:150px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 10%;
}

.bold-style {
  font-weight: bold;
}

.card {
  min-width: 13%;
  border-style: solid;
  border-color: #735AB6;
  border-width: 4px;
  border-left: 0px;
  border-bottom: 0px;
  text-align: right;
  align-items: stretch;
  padding: 15px;
  margin: 10px;
  color: #F7F8FA;
  text-shadow: 3px 3px 2px #008C8F;
  box-shadow: 5px -5px 5px #2D578B;
}

a:link {
  color: rgb(199, 198, 198);
  text-decoration: none; 
}

a:visited {
  color: rgb(199, 198, 198);
  text-decoration: none; 
}

a:hover {
  color: #008C8F;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
}

footer a:visited {
  color: rgb(199, 198, 198);
  text-decoration: none; 
}
footer img:hover {
  height: 45px;
  margin-top: -15px;
}

nav img:hover {
  border-color: #008C8F;
  border-style: solid;
  border-width: 1px;
  background-color: #008C8F;
  box-shadow: 0 0 7px 5px #008C8F;
}
.containerWork2 .projectCard:hover {
  box-shadow: 0 0 7px 10px #376AA9;
}

.containerWork .mainProjectCard:hover {
  box-shadow: 0 0 7px 10px #376AA9;
}

/* header + nav bar  ----------------------------------------------- */

.containerHead {
  display: flex;
  margin-bottom:75px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;

}

.heading h1 {
  display: flex;
  order: 0;
  width: 500px;
  color: #F7F8FA;
  font-size: 50px;
  text-shadow: 3px 3px 2px #008C8F;
}

.subtitle {
  display: flex;
  order: 2;
  margin-top: -35px;
  color: #008C8F;
  font-size: 25px;
  text-shadow: 2px 2px 2px #32619A;
}

.containerHead nav {
  display: flex;
  order: 3;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin-bottom: 5px;
  color: rgb(199, 198, 198);
}

nav li {
  display: inline;
  padding: 30px;
  text-align: right;
  font-size: 20px;
}


/* about me section with avatar pic  --------------------------------------  */

.avatar {
  vertical-align: middle;
  max-width: 130px;
  min-width: 130px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 3px 3px 7px #32619A;
}

.container .avatar {
  display: flex;
  margin-top:15px;
  width: 30%;
  margin-left: 45px;
}

.about p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
  max-width: 600px;
  font-size: 20px;
  line-height: 30px;
}

.container div {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* work section ----------------------------------------------- */

.containerMain {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  max-width: 1200px;
  min-width: 415px;
}

.containerWork{
  display: flex;
  width: fit-content;
  margin-bottom: 10px;
}

.mainProjectCard {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: #008C8F;
  position:relative;
  text-align: right;
  color: #224168;
}

.projectCard {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-color: #008C8F;
  position:relative;
  text-align: right;
  color: #224168;
  margin-bottom: 10px;
  margin-right: auto;
}

.mainProjectCard #mainProjectImg {
  height: 400px;
  width: 822px;
  max-width: 100%;
}

.containerWork2{
  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  width:850px;
}

.textOverlay {  
  position: absolute;
  bottom: -17px;
  right: 0px;
  font-weight: bold;
  background-color: #008C8F;
  line-height: 30px;
  width:100%;
  color: #F7F8FA;
}

.projectCard img {
  width: 400px;
  height: 200px;
  max-width: 100%;
}


/* contact me section ----------------------------------------------- */

li img {
  height: 20px;
}

/* footer section ----------------------------------------------- */

footer {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 20px;
}

footer img {
  height:30px;
}

/* responsive media section ----------------------------------------------- 
1000px to 1300px = good orientation, don't mess with
>1300px need to space out
<1200px need to move top nav link down
<1000px need to move bottom nav
<820px, move to tablet spacing -- can skip, focus on desktop and mobile
<415px move to mobile spacing
*/
